	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/10/2018 10:08
  	*/
  	
@font-face {
  font-family: "Flaticon";
  src: url("./fonts/Flaticon.eot");
  src: url("./fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./fonts/Flaticon.woff") format("woff"),
       url("./fonts/Flaticon.ttf") format("truetype"),
       url("./fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-gym:before { content: "\f100"; }
.flaticon-running:before { content: "\f101"; }
.flaticon-workout:before { content: "\f102"; }
.flaticon-woman:before { content: "\f103"; }
.flaticon-stationary-bike:before { content: "\f104"; }
.flaticon-heart:before { content: "\f105"; }
.flaticon-meditation:before { content: "\f106"; }
.flaticon-ruler:before { content: "\f107"; }
.flaticon-abs:before { content: "\f108"; }
.flaticon-tools-and-utensils:before { content: "\f109"; }
