{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>BeeFit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800" rel="stylesheet">

  <link rel="stylesheet" href="{% static "css/open-iconic-bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/animate.css" %}">

  <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
  <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
  <link rel="stylesheet" href="{% static "css/aos.css" %}">
  <link rel="stylesheet" href="{% static "css/flaticon.css" %}">
  <link rel="stylesheet" href="{% static "css/icomoon.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">BeeFit<small>Gym Plus</small></a>
      {% if request.path == "/" %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a href="#process" class="nav-link">Process</a></li>
              <li class="nav-item"><a href="#programs" class="nav-link">Programs</a></li>
              <li class="nav-item"><a href="#coaches" class="nav-link">Coaches</a></li>
              <li class="nav-item"><a href="#packages" class="nav-link">Packages</a></li>
              <li class="nav-item"><a href="#footer" class="nav-link">Contact</a></li>
              <li class="nav-item"><a href="rules/" class="nav-link">Rules</a></li>
          </ul>
        </div>
      {% endif %}
    </div>
  </nav>

  {% block content %}
  {% endblock %}

  <script src="{% static "js/jquery.min.js" %}"></script>
  <script src="{% static "js/jquery-migrate-3.0.1.min.js" %}"></script>
  <script src="{% static "js/popper.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/jquery.easing.1.3.js" %}"></script>
  <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "js/jquery.stellar.min.js" %}"></script>
  <script src="{% static "js/owl.carousel.min.js" %}"></script>
  <script src="{% static "js/aos.js" %}"></script>
  <script src="{% static "js/scrollax.min.js" %}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYrK40tCS8cWQTbDWEiZFfhJhzMVWWWuU&callback=initMap"
  type="text/javascript"></script>
  <script src="{% static "js/google-map.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>

</body>
</html>
