{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url({{ page.header_picture.url }})" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center">
          <div class="col-md-8 col-sm-12 text-center ftco-animate">
            <h1 style="font-size: 40px;" class="mb-3 mt-5 bread">{{ page.header_text }}</h1>
            <p><span class="mr-2">{{ page.header_subtext }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-bg-dark" id="process">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <span class="subheading">Services</span>
          <h2 class="mb-4">Our Process</h2>
          <p>{{ page.process_description }}</p>
        </div>
      </div>
      <div class="row">
        {% for process in processes %}
        <div class="col-md-3 ftco-animate">
          <div class="media d-block text-center block-6 services">
            <div class="icon d-flex justify-content-center align-items-center mb-5">
              <span class="flaticon-{{ process.icon }}"></span>
            </div>
            <div class="media-body">
              <h3 class="heading">{{ process.title }}</h3>
              <p>{{ process.description|linebreaksbr }}</p>
            </div>
          </div>      
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="ftco-section" id="programs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 pr-md-5">
          <div class="heading-section text-md-right ftco-animate">
            <span class="subheading">Programs</span>
            <h2 class="mb-4">Fitness Programs</h2>
            <p class="mb-4">{{ page.programs_description }}</p>
          </div>
        </div>
        <div class="col-md-6">
          {% for program in programs %}
          <div class="program d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="flaticon-{{ program.icon }}"></span>
            </div>
            <div class="text ml-5">
              <h3>{{ program.title }}</h3>
              <p>{{ program.description|linebreaksbr }}</p>
            </div>
          </div>
          {% endfor %}
          <a href="/programs/">Click here for more...</a>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section" id="coaches">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <span class="subheading">Trainer</span>
          <h2 class="mb-4">Our Coaches</h2>
        </div>
      </div>
      <div class="row">
        {% for coach in coaches %}
        <div class="col-lg-6 d-flex">
          <div class="coach d-sm-flex align-items-stretch">
            <div class="img" style="background-image: url({{ coach.photo.url }})"></div>
            <div class="text py-4 px-5 ftco-animate">
              <span class="subheading">{{ coach.position }}</span>
              <h3><a href="#">{{ coach.first_name }} {{ coach.last_name }}</a></h3>
              <p>{{ coach.description|linebreaksbr }}</p>
              <ul class="ftco-social-media d-flex mt-4">
                {% if coach.social_twitter %}
                <li class="ftco-animate"><a href="{{ coach.social_twitter }}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-twitter"></span></a></li>
                {% endif %}

                {% if coach.social_facebook %}
                <li class="ftco-animate"><a href="{{ coach.social_facebook }}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-facebook"></span></a></li>
                {% endif %}

                {% if coach.social_insta %}
                <li class="ftco-animate"><a href="{{ coach.social_insta }}" class="mr-2 d-flex justify-content-center align-items-center"><span class="icon-instagram"></span></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="ftco-section" id="packages">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Our Packages</h2>
          <p>{{ page.packages_description }}</p>
        </div>
      </div>
      <div class="row">
        {% for package in packages %}
        <div class="col-md-6 col-lg-4">
          <div class="package-program ftco-animate">
            <div class="img" style="background-image: url({{ package.photo.url }})"></div>
            <div class="text mt-4">
              <h3>{{ package.title }}</h3>
              {% for pricing in package.pricing_plans.all %}
              <div class="d-flex mt-4">
                <p class="price"><sup>PHP</sup>{{ pricing.amount }}<sub> / {{ pricing.get_time_span_display }}</sub></p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Where We Are</h2>
          <p>{{ page.location_description }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <div class="package-program ftco-animate">
            <div class="d-flex align-self-stretch">
              <div id="map" style="height: 500px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-gallery">
    <div class="container-wrap">
      <div class="row no-gutters">
        {% for photo in gallery %}
        <div class="col-md-3 ftco-animate">
          <a href="/photos/" class="gallery img d-flex align-items-center" style="background-image: url({{ photo.photo.url }})">
            <div class="icon mb-4 d-flex align-items-center justify-content-center">
              <span class="">more</span>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <footer class="ftco-footer ftco-section img" id="footer">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="ftco-footer-widget">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>{{ page.footer_about|linebreaksbr }}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ftco-footer-widget">
            <h2 class="ftco-heading-2">Reach Us</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Top floor SPK Bldg. Km. 7 Lanang, Davao City </span></li>
                {% for contact in page.contact_set.all %}
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{ contact.number }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ftco-footer-widget">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="https://www.facebook.com/beefitgympluslanang/"><span class="icon-facebook"></span></a></li>
              <!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
              <!-- <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
