{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="ftco-section" id="programs">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        {% for program in programs %}
        <div class="program d-flex ftco-animate">
          <div class="icon d-flex justify-content-center align-items-center">
            <span class="flaticon-{{ program.icon }}"></span>
          </div>
          <div class="text ml-5">
            <h3>{{ program.title }}</h3>
            <p>{{ program.description|linebreaksbr }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

  <footer class="ftco-footer ftco-section img" id="footer">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="ftco-footer-widget">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>{{ page.footer_about }}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ftco-footer-widget">
            <h2 class="ftco-heading-2">Reach Us</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Top floor SPK Bldg. Km. 7 Lanang, Davao City </span></li>
                {% for contact in page.contact_set.all %}
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{ contact.number }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ftco-footer-widget">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="https://www.facebook.com/beefitgympluslanang/"><span class="icon-facebook"></span></a></li>
              <!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
              <!-- <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
