{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="ftco-section" id="packages">
    <div class="container">
     {% for rule in rules %}      
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">{{ rule.title }}</h2>
        </div>
      </div>
      <div class="row">
        {{ rule.rules|linebreaksbr }}
      </div>
    {% endfor %}      
    </div>
  </section>

  <footer class="ftco-footer ftco-section img" id="footer">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="ftco-footer-widget">
            <h2 class="ftco-heading-2">About Us</h2>
            <p>{{ page.footer_about|linebreaksbr }}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ftco-footer-widget">
            <h2 class="ftco-heading-2">Reach Us</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Top floor SPK Bldg. Km. 7 Lanang, Davao City </span></li>
                {% for contact in page.contact_set.all %}
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">{{ contact.number }}</span></a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="ftco-footer-widget">
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="https://www.facebook.com/beefitgympluslanang/"><span class="icon-facebook"></span></a></li>
              <!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
              <!-- <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
